/*********************************************** Resetowanie domyślnych styli********************************************** */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*********************************************** Styl dla całego body********************************************** */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(tła/pexels.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: #043a6f;
}

/*********************************************** Styl dla nawigacji********************************************** */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  /* background: linear-gradient(to top, #05a2f6, #ffe725); */
  background: linear-gradient(
    to top,
    rgba(5, 162, 246, 0.6),
    rgba(255, 231, 37, 0.7)
  );
}

.nav-links {
  list-style: none;
  display: flex;
}

.navbar a {
  text-decoration: none;
  padding: 0 10px;
  margin: 0 20px;
  font-size: 20px;
  font-weight: bold;
  transition: 0.5s all;
}

.navbar > a {
  text-transform: uppercase;
  font-size: 26px;
  border: 2px transparent solid;
  border-radius: 22px;
  padding-bottom: 5px;
}
.navbar > a:hover {
  border: 2px rgb(23, 111, 23) solid;
}

.navbar a:hover {
  transform: scale(1.3);
  /* border-radius: 15px;  Jeśli ustawię tutaj border-radius po najechaniu na link bedzie widoczna zmiana na zaokraglone krawedzie*/
}
.navbar a:visited {
  color: inherit; /* Tutaj możesz ustawić inny kolor dla odwiedzonych linków */
}

/***********************************************Styl dla kontenera********************************************** */
.container {
  max-width: 1200px; /* Ustalamy maksymalną szerokość kontenera */
  margin: 0 auto; /* Automatyczne wyśrodkowanie kontenera */
  padding: 0 20px; /* Dodajemy wewnętrzny padding dla zawartości */
  margin-top: 110px;
  line-height: 1.6;
}
/* Styl dla sekcji */
section {
  padding: 20px;
  margin: 20px 0;
  margin-top: 50px;
  border-radius: 55px;
  background-color: rgba(255, 231, 37, 0.4);
}
/**********************************************STYLE***********************************************/
h1 {
  text-align: center;
  font-size: 50px;
  font-family: Caveat;
  text-shadow: 0 0 black;
  text-transform: uppercase;
  border: 12px blue inset;
}

h2 {
  text-align: center;
  font-size: xxx-large;
  font-family: Caveat;
  margin-bottom: 20px;
}

p {
  font-size: 20px;
  font-weight: 700;
  text-align: justify;
  text-indent: 2em;
  text-shadow: 0 0 black;
  margin: 30px 0;
}

.mincraft-image {
  display: flex;
  justify-content: center;
  margin-top: 120px;
}

.img {
  width: 450px;
  height: auto;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.3);
}
.mincraft-two {
  margin-top: -100px;
  margin-left: -160px;
}

.img-dog,
.img-gekon,
.img-cat,
.img-netherlands {
  width: 500px;
  display: block;
  margin: 0 auto;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.3);
}
.img-netherlands {
  margin-bottom: 30px;
}
.windmill {
  margin: 0;
}

/************************************************ Styl dla stopki ************************************************/
.footer-container {
  max-width: 1200px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(155, 201, 206, 0.7);
  border-radius: 50px;
}

.footer-paragraph {
  margin: 0;
  text-indent: initial;
}

.email-container {
  display: flex;
  align-items: center;
}

.email {
  text-decoration: none;
  color: #043a6f;
  font-weight: 900;
  font-size: 18px;
  margin-right: 5px;
}
.footer-container div:last-child {
  display: flex;
  align-items: center;
}
/*********************************************** Responsywność ***********************************************/

@media screen and (max-width: 768px) {
  .navbar {
    position: static;
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .navbar > a {
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 15px;
  }

  .navbar a {
    margin: 5px 0;
    font-size: 18px;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
  }

  .navbar a:hover {
    border-bottom: none;
    transform: none;
  }

  .container {
    margin-top: 0px; /*Zmiana w nav fixed na position: static; wymusza zmiane margin */
  }
  h1 {
    font-size: 40px;
  }

  .mincraft-image {
    flex-direction: column; /* Zmiana układu obrazów na kolumnowy */
    margin-top: 60px; /* Dostosowanie marginesu */
  }

  .mincraft-one,
  .mincraft-two {
    display: flex;
    justify-content: center;
  }
  .mincraft-two {
    margin-top: 10px;
  }

  .img {
    width: 80%; /* Dopasowanie szerokości obrazów do szerokości ekranu */
    margin-bottom: 20px; /* Dodanie odstępu między obrazami */
  }
  .img-dog,
  .img-gekon,
  .img-cat,
  .img-netherlands {
    width: 80%;
  }

  .mincraft-two {
    margin-left: 0; /* Zmniejszenie marginesu lewego */
  }

  .footer-container {
    flex-direction: column;
    height: auto;
    border-radius: 0;
  }
}
